* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 50px 20px;
  grid-template-columns: minmax(100px, 400px);
  gap: 10px;
  place-content: center;
  color: white;
  grid-auto-flow: row;
}

.payment {
  background-color: black;
  padding: 50px 20px;
  border-radius: 10px;
}

.button a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

input:not(.submit) {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 250px;
  text-align: center;
}

.submit {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  border: 3px solid white;
  background-color: black;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}

.submit:hover {
  background-color: white;
  color: black;
}

.back:hover {
  text-shadow: 0 0 3px white;
}

@media screen and (max-width: 320px) {
  input:not(.submit) {
    width: 200px;
    margin: 10px auto;
  }
}
