* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    'product product'
    'back buy';
  color: white;
  text-align: center;
  place-content: center;
  margin: 50px 20px;
  gap: 10px;
  text-transform: uppercase;
  grid-template-columns: minmax(100px, 350px) minmax(100px, 350px);
}

.product {
  grid-area: product;
  background-color: black;
  padding: 50px;
  border-radius: 10px;
}

.product img {
  width: 150px;
  height: 150px;
  margin-bottom: -20px;
}

.product ul li {
  list-style: none;
  text-transform: capitalize;
}

.product > *,
.product ul li {
  margin-bottom: 5px;
}

.button {
  background-color: black;
  border-radius: 10px;
}

.button a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.button a:hover {
  text-shadow: 0 0 5px white;
}

.back {
  grid-area: back;
}

.buy {
  grid-area: buy;
}
